.panel {
    height: 65%; /* Full viewport height */
    position: fixed; /* Fix the sidebar to the left side */
    top: 15%;
    right: 10px;
    padding-top: 20px; /* Add space on top */
    background-color: #212529; /* Light gray background */
    width: 250px; /* Sidebar width */
    border-radius: 10px;
}
